h1 {
	font-family: Impact, Arial;
	color: #326273;
    font-weight: thick;
}

h2 {
    font-family: Arial;
    color: #326273;
}

td {
	font-family: Impact;
}

body{
	background-color: #5C9EAD;
}

table{
	background-color: #DC9E82;
	border-color: #EFC88B;
	border-style: solid;
	border-width: 5px;
}

tr{
    border: solid 5px black;
}

td{
    border: solid 5px black;
}



.container{
	border-color: black;

}
th{
	background-color: #DC9E82;
    font-family:Garamond, Arial;
}


.fancy{
    background-color: #F2F3D9;
    border-color: #5C9EAD;
    border-style: solid;
    border-width: 5px;
    font-family: "Mercury";
    border-radius: 25px;
    padding: 20px;
}

img.resize1{
    float:left;
    max-width: 48%;
    max-height: 60%;
    border-style: solid;
    border-color: #326273;
    border-width: 5px;
    border-radius: 25px;
}

img.resize2{
    float:right;
    max-width: 48%;
    max-height: 60%;
    border-style: solid;
    border-color: #326273;
    border-width: 5px;
    border-radius: 25px;
    margin-bottom: 25px;
}


#goals{
    float: center;
    max-width: 100%;

}

.tab { margin-left: 25px;
        font-family: "Mercury" }

